@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Markazi+Text&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Font */
    --ff-inter: Inter, sans-serif;
    /* Colors */
    --primary-color: #ff7613;
    --primary-color--light: #f89a57;
    --text-color: #e9e8e8;
    --clr-dark: #081b3b;
    --clr-light: #5e6f8b;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    font-family: var(--ff-inter);
    background-color: black;
    color: var(--text-color);
    overflow-x: hidden;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    height: auto;
}

div {
    margin: 0;
    padding: 0;
}

/* Common Styles */
img,
picture,
figure {
    width: 100%;
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
}

.h2 {
    color: var(--clr-dark);
}

.h3 {
    font-size: clamp(1rem, 4vw, 1.5rem);
    margin: 1rem;
}

ul,
ol,
li {
    list-style: none;
}

.description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.item_preTitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}

.item_title {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    margin: 0.8rem 0;
}

.item_subtitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

/* layouts */
.containers,
.containers_first {
    margin: 0 auto;
    display: grid;
    padding: 8rem;
    background: var(--clr-dark);
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
}

.project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.profile {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

.group-1,
.group-2 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.group-3 {
    max-width: 700px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Profile */
.profile_container {
    margin-top: 20px;
    display: flex;
    gap: 10rem;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.profile_profileImg {
    max-width: 250px;
    margin-right: 9rem;
}

.profile_name_firstName {
    color: var(--primary-color);
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}

.profile_name_lastName {
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

.project_title,
.CV_title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.project_title {
    margin-left: 8rem;
}

.superbtn {
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 60px;
    min-width: 30rem;
    text-align: center;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 2px 2px 15px #666666;
    -moz-box-shadow: 2px 2px 15px #666666;
    box-shadow: 2px 2px 15px #666666;
    font-family: var(--ff-inter);
    color: var(--text-color);
    font-size: 20px;
    background: var(--primary-color);
    padding: 0;
    align-items: center;
    align-content: center;
    text-decoration: none;
}

.superbtn:hover {
    background: var(--primary-color--light);
    text-decoration: none;
}

.download {
    padding-top: 1.25rem;
}

.profile_title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    font-weight: bold;
}

/* Skills */
.skill_list {
    line-height: 2;
    padding-left: 0;
}

.languages_name {
    font-size: 1.6rem;
    font-weight: 700;
}

/* Education */
.languages_item,
.education_item,
.certification_item,
.expirience_item,
.hobby_items,
.group-12 {
    margin-top: 2rem;
}

/* Hobby */
.hobby_items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.hobby_item {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
}

.hobby_item svg {
    width: 2rem;
}

/* Socials */
.social_item {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: var(--text-color);
    margin: 5rem;
}

.social_item:hover {
    color: var(--primary-color);
}

.social_item svg {
    width: 2rem;
}

/* A11Y - screen reader only: only for assistive technologies which read the page out loud */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* TYPOGRAPHY */
.nav__link {
    font-family: var(--ff-inter);
    font-size: clamp(1.2rem, 1rem + 0.6vw, 1.5rem);
}

.container {
    width: min(100%, 1800px);
    margin: 0 auto;
    padding: 0 clamp(0.5rem, 0.2rem + 5vw, 5rem);
    position: relative;
}

/* LINKS  */
a {
    transition: font-weight 100ms ease;
    font-weight: 500;
}

a:focus {
    outline: transparent;
}

/* Nav links */
.nav__link {
    position: relative;
    padding: 0.5em;
    color: var(--text-color);
    transition: filter 100ms ease;
}

.active,
.nav__link:hover,
.nav__link:active {
    color: var(--primary-color);
}

.nav__link::before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0.5em;
    height: 2px;
    width: calc(100% - 1em);
    border-radius: 2px;
    background-color: var(--text-color);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 200ms ease;
}

.nav__link:active {
    filter: brightness(120%);
}

.nav__link:focus {
    border-radius: 1rem;
    border: none;
    outline: 1px solid var(--text-color);
}

/*      HEADER     */
#header {
    background-color: var(--clr-dark);
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 1px 1px 0 var(--primary-color--light), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

#header[on-screen="initial"],
#header[on-screen="partial"] {
    transform-origin: top;
    transform: translateY(-80%);
}

#header[on-screen="partial"] {
    transform-origin: top;
    transition: transform 400ms ease;
}

#header[on-screen="full"] {
    transform-origin: top;
    transform: translateY(0%);
    transition: transform 400ms ease;
}

/*       NAVBAR      */
#nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

/*    HAMBURGER & CROSS    */
.container__nav-toggle {
    position: sticky;
    top: 0;
    z-index: 150;
}

#nav-toggle {
    background-color: transparent;
    border: transparent;
    padding: 1rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

#hamburger-btn {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.hamburger,
.cross {
    background-color: var(--text-color);
    width: 40px;
    height: 4px;
    border-radius: 10px;
}

#hamb-top[on-screen="false"] {
    transform: translateX(200%);
    opacity: 0;
    transition: transform 400ms ease, opacity 400ms ease;
}

#hamb-mid[on-screen="false"] {
    transform: translateX(200%);
    opacity: 0;
    transition: transform 400ms ease 100ms, opacity 400ms ease 100ms;
}

#hamb-btm[on-screen="false"] {
    transform: translateX(200%);
    opacity: 0;
    transition: transform 400ms ease 200ms, opacity 400ms ease 200ms;
}

#hamb-top[on-screen="true"] {
    transform: translateX(0);
    opacity: 1;
    transition: transform 400ms ease 200ms, opacity 400ms ease 200ms;
}

#hamb-mid[on-screen="true"] {
    transform: translateX(0);
    opacity: 1;
    transition: transform 400ms ease 300ms, opacity 400ms ease 300ms;
}

#hamb-btm[on-screen="true"] {
    transform: translateX(0);
    opacity: 1;
    transition: transform 400ms ease 400ms, opacity 400ms ease 400ms;
}

#cross-lr[on-screen="initial"] {
    opacity: 0;
    transform: translateX(-20px) translateY(-30px) rotate(45deg);
}

#cross-rl[on-screen="initial"] {
    opacity: 0;
    transform: translateX(20px) translateY(-34px)rotate(-45deg);
}

#cross-lr[on-screen="true"] {
    opacity: 1;
    transform: translateX(0) translateY(-10px) rotate(45deg);
    transition: transform 400ms ease 400ms, opacity 400ms ease 400ms;
}

#cross-rl[on-screen="true"] {
    opacity: 1;
    transform: translateX(0) translateY(-14px) rotate(-45deg);
    transition: transform 400ms ease 500ms, opacity 400ms ease 500ms;
}

#cross-lr[on-screen="false"] {
    opacity: 0;
    transform: translateX(20px) translateY(10px) rotate(45deg);
    transition: transform 400ms ease, opacity 400ms ease;
}

#cross-rl[on-screen="false"] {
    opacity: 0;
    transform: translateX(-20px) translateY(14px) rotate(-45deg);
    transition: transform 400ms ease 200ms, opacity 400ms ease 200ms;
}

label,
input,
textarea {
    resize: none;
    font-size: clamp(1rem, 0.9rem + 0.6vw, 1.9rem);
    border: none;
    background-color: var(--text-color);
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    font-family: inherit;
}

label {
    color: var(--clr-light);
}

.contactme {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

/*   Contactme   */
.contactme_container {
    margin-top: 20px;
    display: flex;
    gap: 15rem;
}

.contactme_title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: 2rem;
    margin-top: 3.5rem;
    text-align: center;
}

.contactme_label {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    background-color: var(--clr-dark);
}

.contactmeform {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 3rem;
    background-color: var(--clr-dark);
    padding: 2rem 10rem;
    margin: 5rem 0;
}

.cards {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card {
    display: flex;
    align-items: center;
    text-align: center;
    width: 75vw;
    max-width: 53rem;
    padding: 2rem 1rem 3rem 1rem;
    background: #d0cdcd;
    border-radius: 3rem;
}

.card img {
    max-width: 30rem;
    object-fit: cover;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    margin-bottom: 1rem;
    border: 1px solid var(--clr-light);
    border-style: outset;
}

.card h3 {
    color: rgb(0 0 0 / 90%);
}

.card p {
    color: rgb(0 0 0 / 70%);
}

.card a {
    border: 0;
    background: var(--clr-dark);
    color: var(--text-color);
    font-family: inherit;
    padding: 16px 26px;
    font-size: 16px;
    border-radius: 40px;
    margin: 1rem;
}

.card a:hover {
    border: 0;
    background: var(--primary-color);
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: var(--clr-dark);
}

.group-12 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 4rem;
}

/*    MEDIA QUERIES    */
@media screen and (hover) {
    .nav__link:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}

@media screen and (hover) {
    .link-external:hover {
        transform: scale(1.05);
        filter: brightness(140%) saturate(160%);
    }
}

@media only screen and (max-width: 1200px) {
    .containers {
        padding: 0;
        margin-top: 1rem;
        gap: 1rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .containers_first {
        padding: 1rem;
        padding-top: 4rem;
        gap: 1;
    }

    .card {
        flex-direction: column;
        text-align: center;
        margin: 0 20px;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        max-width: 42rem;
    }

    .card img {
        margin: 3rem 0 10px 0;
        width: 100%;
        max-width: 20rem;
    }

    .profile_container {
        gap: 2rem;
    }

    .profile_profileImg {
        margin-right: 6rem;
        margin-left: 5rem;
    }

    .group-1,
    .group-2 {
        gap: 2.5rem;
    }
}

@media (width <=900px) {
    .card {
        flex-direction: column;
        text-align: center;
        margin: 0.67rem 1.25rem;
        padding: 1rem;
        width: 100%;
    }

    .card img {
        margin: 2rem 0 1rem 0;
        width: 100%;
        max-width: 18rem;
    }

    .profile_container {
        gap: 1rem;
    }

    .profile_profileImg {
        max-width: 250px;
        margin-right: 2rem;
        margin-left: 1rem;
    }

    .group-1,
    .group-2 {
        gap: 3rem;
    }
}

/* Tablet */
@media screen and (min-width: 900px) {
    #header {
        padding: 0.1rem 0;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    #header[on-screen="initial"],
    #header[on-screen="partial"],
    #header[on-screen="full"] {
        transform: unset;
    }

    #nav__list {
        font-size: clamp(1rem, 0.9rem + 0.8vw, 1.8rem);
        flex-direction: row;
        padding: 0;
        column-gap: 5em;
    }

    #nav-toggle {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .profile {
        margin-bottom: 0;
    }

    .skills {
        text-align: center;
    }

    .languages_name {
        text-align: center;
    }

    .description {
        text-align: center;
        margin: 1rem;
    }

    .group-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .education {
        text-align: center;
    }

    .expirience {
        text-align: center;
    }

    .expirience_item {
        text-align: center;
        margin-top: 1rem;
    }

    .hobby {
        text-align: center;
        margin-bottom: 1rem;
    }

    .social_item {
        justify-content: center;
    }

    .profile_container {
        flex-direction: column;
        margin-top: 20px;
        gap: 1rem;
    }

    .contactme {
        margin-bottom: 0;
    }

    .profile_container {
        gap: 1rem;
        text-align: center;
        align-items: center;
    }

    .profile_profileImg {
        max-width: 250px;
        margin-right: 0;
        margin-left: 0;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .containers {
        grid-template-columns: 1fr;
        padding: 0;
        margin-top: 4rem;
        gap: 1rem;
    }

    .containers_first {
        grid-template-columns: 1fr;
        margin: 0;
        padding-top: 4rem;
        gap: 1rem;
    }

    .card {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin-right: 1rem;
        margin-left: 1rem;
        padding: 0;
        width: 100%;
    }

    .group-1,
    .group-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .certification {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .certification_item {
        margin-top: 0;
    }
}

@media (width <=740px) {
    #header {
        min-height: 230px;
    }

    .containers {
        grid-template-columns: 1fr;
        padding: 0;
        margin-top: 3rem;
        gap: 0rem;
        max-width: 740px;
    }

    .group-12 {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }

    .cards {
        gap: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .card {
        flex-direction: column;
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    .card img {
        margin: -5rem 0 1rem 0;
        width: 100%;
        max-width: 17rem;
    }

    .contactmeform {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 2rem;
        padding: 2rem;
        margin: 2rem 0;
    }

    .social_item {
        margin: 2rem;
    }
}

/* A11Y - Remove all animations, transitions and smooth scroll for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}